<!-- _includes/models.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if model.redirect -%}
  <a href="{{ model.redirect }}">
    {%- else -%}
    <a href="{{ model.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <h5 class="card-title">{{ model.title }}</h5>
              <p class="card-text">{{ model.description }}</p>
            </div>
            <div class="col-sm text-right">
              <div class="badge badge-secondary">{{ model.category }}</div>
              <h6 class="card-text">{{ model.published | date: "%B %d, %Y" }}</h6>
            </div>
          </div>
          
        </div>
      </div>
    </a>
</div>