---
layout: post
title: "About Me"
comments: false
---
{% include unsplash.html %}

{% capture md %}
I am a novice programmer and a life-time learner. I mainly work on NLP, blockchain and full-stack end-to-end products. 
My hobbies include learning the startup culture, playing/watching football and cricket.
Right now, I am a full-time masters student at NTNU, Norway. I am specializing in blockchain technologies, with the 
area of work being transaction analysis and smart contracts.

If you think I can help you in any of your software product that touches NLP, blockchain or is data-intensive, I am easy to find. 
Just reach me out to one of the networks below.
In case you want to know more about my background, [here's my CV](/assets/mycv.pdf). 
  
  

Find out about more of my works at: [/myworks]({% link _pages/myworks.md %})


Thanks for reading!

{% endcapture %}
{{ md | markdownify }}